<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container-option">
    <div class="button-wrapper">
      <button (click)="navigateCreateProject()" type="button" class="btn btn-primary" title="Create new project">Create
        Project</button>
    </div>
    <div class="button-wrapper">
      <button (click)="logout()" type="button" class="btn btn-primary" title="Create new project">Logout</button>
    </div>

    <!-- <div class="form-group-search-wrapper">
      <label for="search">Search</label>
      <input disabled type="text" class="form-control" type="text" id="search"
        placeholder="Type to search the name column...">
    </div> -->
  </div>
  <ngx-datatable class="material" [rows]="projects" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto" [limit]="5">
    <ngx-datatable-column name="ID">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.id }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Project name">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.name }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Project slug">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.slug }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Project description">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ (row?.description != null) ? row?.description : 'No description' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Project manager">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.managed_by }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="selectToEdit(row)" class="edit"><i class="fas fa-edit"></i>
          <h6>Edit</h6>
        </a>
        <a (click)="selectToDelete(row)" class="delete"><i class="fas fa-trash" data-toggle="tooltip"
            title="Delete"></i>
          <h6>Delete</h6>
        </a>
        <a (click)="selectToViewTask(row)" class="add-task"><i class="fas fa-plus-square" data-toggle="tooltip"
            title="Manage this project task"></i>
          <h6>Task</h6>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ion-content>