<!-- header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons mode="md" slot="start">
      <ion-back-button [defaultHref]="'/project'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Update Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Update Project</ion-title>
    </ion-toolbar>
  </ion-header>
  <form class="ion-padding" [formGroup]="projectForm">
    <!-- project name -->
    <div class="form-group">
      <div class="label-wrapper">
        <label for="project-name">Project Name</label>
        <ng-container *ngFor="let validation of validation_messages.project_name">
          <div
            *ngIf="(projectForm.get('project_name').hasError(validation.type) && (projectForm.get('project_name').dirty || projectForm.get('project_name').touched)) || (projectForm.get('project_name').valid && validation?.type == 'valid')"
            class="container-error">
            <ion-icon
              [name]="(projectForm.get('project_name').valid) ? 'checkmark-circle-outline' : 'alert-circle-outline'"
              [ngStyle]="{ 'color': (projectForm.get('project_name').valid) ? '#4caf50' : '#f11f1f' }">
            </ion-icon>
            <div class="label-message">
              <ion-label [ngStyle]="{ 'color': (projectForm.get('project_name').valid) ? '#4caf50' : '#f11f1f' }">{{
                validation?.message }}</ion-label>
            </div>
          </div>
        </ng-container>
      </div>

      <input [(ngModel)]="data.name" formControlName="project_name" name="project_name" type="text" class="form-control"
        id="project-name" placeholder="Enter Project Name">
    </div>

    <div class="form-group">
      <div class="label-wrapper">
        <label for="project_manager">Project Manager</label>
        <ng-container *ngFor="let validation of validation_messages.project_manager">
          <div
            *ngIf="(projectForm.get('project_manager').hasError(validation.type) && (projectForm.get('project_manager').dirty || projectForm.get('project_manager').touched)) || (projectForm.get('project_manager').valid && validation?.type == 'valid')"
            class="container-error">
            <ion-icon
              [name]="(projectForm.get('project_manager').valid) ? 'checkmark-circle-outline' : 'alert-circle-outline'"
              [ngStyle]="{ 'color': (projectForm.get('project_manager').valid) ? '#4caf50' : '#f11f1f' }">
            </ion-icon>
            <div class="label-message">
              <ion-label [ngStyle]="{ 'color': (projectForm.get('project_manager').valid) ? '#4caf50' : '#f11f1f' }">{{
                validation?.message }}</ion-label>
            </div>
          </div>
        </ng-container>
      </div>

      <select [(ngModel)]="data.manager_id" formControlName="project_manager" name="project_manager" class="form-select"
        aria-label="Select project manager">
        <option value="" disabled selected>Select project manager</option>
        <option *ngFor="let projectManager of projectManagerList" [value]="projectManager?.key">{{
          projectManager?.value }}</option>
      </select>
    </div>
    <div class="container-button">
      <button [disabled]="projectForm.invalid" (click)="update()" type="button" class="btn btn-primary">Update project</button>
    </div>
  </form>
</ion-content>